{% extends "base.html" %}

{% block content %}
  <h1>Auto List</h1>
  {% if cats_list %}
  <ul>
    {% for cat in cats_list %}
      <li>
          {{ cats.name }} ({{ cats.breed }})
          (<a href="{% url 'cats_update' cats.id %}">Update</a> |
          <a href="{% url 'cats_delete' cats.id %}">Delete</a>) <br/>
          {{ cats.comments }} ({{ cats.weight }} lbs.)
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no cats in the directory.</p>
  {% endif %}
  <p>
    {% if breed_count > 0 %}
      <a href="{% url 'cats_create' %}">Add a cat</a>
    {% else %}
      Please add a breed before you add a cat.
    {% endif %}
  </p>
  <p>
  <a href="{% url 'breeds_list' %}">View Breeds</a> ({{ breed_count }}) | 
    <a href="{% url 'breed_create' %}">Add a breed</a>
  </p>
{% endblock %}